@font-face {
	font-family: montserratSemiBold;
	src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family: montserratExtraBold;
	src: url(../fonts/Montserrat-ExtraBold.ttf);
}

body {
	background-color: #F6FAFF;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: #BEC3Ca;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 10px;
}

.logo {
	width: 100px;
}

.menu {
	background-color: #006FFF !important;
}

.perfil {
	color: #FFF;
	font-family: montserratSemiBold;
	background-color: #66a8ff;
	border: 1px solid #66a8ff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.perfil span {
	align-self: center;
}

.subtitulo {
	font-weight: bold;
}

.filtros {
	background-color: #FFF;
	margin-left: 5px;
	margin-right: 5px;
	height: 65px;
	display: flex;
	align-items: flex-start;
}

.filtros div {
	align-self: center;
}

.btn-primario {
	font-family: montserratSemiBold;
	font-size: 12px;
	color: #FFF;
	background-color: #FF7A00;
	border-radius: 4px;
	border-color: #FF7A00;
}

.btn-segundario {
	font-family: montserratSemiBold;
	font-size: 12px;
	border-radius: 4px;
	color: #006FFF;
	background-color: #FFF;
	border-color: #006FFF;
}

.resultados {
  display: flex;
	align-items: flex-start;
}

.resultado div{
  align-self: center;
}
.resultado {
  background-color: #FFF;
  border-color: rgba(179, 195, 202, 0.3);
  border-style: solid;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.bandera {
  width: 25px;
  height: auto;
}

.estado {
  border-style: solid;
  border-color: #b3c3ca;
  border-radius: 12px;
  font-size: 10px;
  height: 20px;
}

.estado span{
  justify-content: center;
}
.cliente {
  font-size: 10px;
}

.folio {
  color: #b3c3ca;
  font-size: 10px;
}

.grupo {
  font-family: montserratExtraBold;
  font-size: 20px;
}

.tarjeta-titulo {
  font-family: montserratSemiBold;
  font-size: 15px;
}
#vendedor {
  width: 100%;
  color: #b3c3ca;
  border-color: #b3c3ca;
}

.perfil-cliente {
  color: #FFF;
  font-family: montserratSemiBold;
  background-color: #66a8ff;
  border: 1px solid #66a8ff;
  border-radius: 50%;
  height: 32px;
  width: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 16px
}

.perfil-cliente span {
  align-self: center;
  font-size: 10px;
}

.cotizacion {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.paginacion {
  margin-left: 15px;
  background-color: #FFF;
}

.paginacion-texto {
  color: #b3c3ca;
  font-size: 10px;
  display: flex;
  align-items: flex-start;
}

.paginacion-texto span {
  align-self: center;
}